{% extends 'base.html.twig' %}

{% block title %}Lista Catálogo{% endblock %}

{% block body %}

  <h1>Lista de libros</h1>

    <table class="table">
        <thead>
          <tr>
            <th>Nº</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Editorial</th>
          </tr>
        </thead>
          
        <tbody>
          {% for fondo in fondos %}
          <tr> 
            <td>{{ loop.index }}</td>
            <td>{{ fondo.titulo }}</td>
            <td>
            {{fondo.autores[0].nombre}} 

            {% if fondo.autores|length > 1 %}
              <p>{{fondo.autores[1].nombre}}</p> 
            {% endif %}
            </td>

            

            <td>{{fondo.editorial.nombre}} </td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck1">
                  <a class="nav-link" href="{{path('catalogo_ver', {id:fondo.id})}}">Ver Ficha del libro</a>
                </label>
                
              </div>
          </tr>
          {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}
